Django==6.0.2
django-allauth==65.18.0
PyJWT[crypto]==2.10.1
Pillow==11.3.0
django-axes==8.3.1
django-anymail[resend,sendgrid]==15.0
django-csp==4.0
djangorestframework==3.17.1
dj-database-url==3.1.2
gunicorn==26.0.0
psycopg2-binary==2.9.12
python-dotenv==1.2.2
requests==2.33.1
whitenoise==6.12.0